<html>

<head>
    {% include head.html %}
</head>

<body class="bg-body">
    {% include fork.html %}
    {% include navigation.html %}
    <div class="container mt-2">
        <div class="row">
            <div class="offset-xs-1 col-xs-10 offset-sm-3 col-sm-6">
                <section class="content">
                    <div class="container" id="main-container">
                        <article>
                            <div class="pagination">
                                {% if page.previous %}
                                <a class="page-nav previous" {% if page.previous %}href="{{ page.previous.url }}" id="js-previous-post" {% endif %}>
                                    &lt;
                                </a>
                                {% endif %}
                                {% if page.next %}
                                <a class="page-nav next" {% if page.next %}href="{{ page.next.url }}" id="js-next-post" {% endif %}>
                                    &gt;
                                </a>
                                {% endif %}
                            </div>
                            <header class="post-header">
                                <div class="post-title">{{ page.title }}</div>
                                {% if page.date %}
                                <small class="meta">
                                    {{ page.date | date_to_string }} -
                                    by <a href="https://github.com//{{ site.github_username }}" target="_blank">{{ site.github_username }}</a>
                                </small>
                                {% endif %}
                            </header>
                            {{ content }}
                        </article>
                    </div>
                </section>
            </div>
        </div>
    </div>
    {% include footer.html %}
</body>

</html>